{% extends 'core/base.html' %}


{% block content %}

{% load static %}






    <div class="basis-3/4">
        <!-- put component code here -->
        <div class="grid grid-cols-3 gap-2 m-2 ">
            <div class="col-span-2 m-1">
                <h2 class="font-medium leading-tight text-4xl mt-0 mb-4 text-blue-600">Products</h2>
               
                <div class="flex flex-wrap infinite-container">
                    {% for product in products %}
                    <a href="#"
                        class="w-[47%] p-4 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 m-2 transition duration-300 ease-in-out transform hover:scale-105">
                        <!-- Product Name -->
                        <h5 class="mb-3 text-xl font-semibold tracking-tight text-gray-900 dark:text-white">
                            {{ product.name }}
                        </h5>
                        <!-- Product Prices and Quantity -->
                        <div class="flex justify-between items-center mb-2">
                            <p class="font-medium text-gray-700 dark:text-gray-400 px-1">
                                TK{{ product.price }}
                            </p>
                            
                            <p class="font-medium text-white bg-gray-800 py-1 px-2 rounded">
                                {{ product.quantity }}
                            </p>
                        </div>
                        <!-- Actions (Buttons or Form) -->
                        <div class="flex justify-between items-center">
                            {% if product.mother == True %}
                            <!-- Button for products with 'mother' set to True -->
                            <button class="bg-red-600 hover:bg-red-700 text-white text-xs font-bold py-1 px-3 rounded transition duration-300 ease-in-out"
                            onclick="window.location.href = '/{{product.id}}/update'">
                            Set Price
                            </button>
                            {% else %}
                            <!-- Form for products without 'mother' set to True -->

                            <form action="{% url 'groupproductstore' %}" method="get" class="flex items-center space-x-2">
                                <label for="quantity">QTY</label>
                                <input type="number" name="quantity" value="0" class="w-16 border rounded-md p-1 text-xs" placeholder="Quantity">
                                
                                <span class="px-1 text-xs">-</span>
                                <label for="price">price</label>
                                <input type="number" name="price" value="0" class="w-16 border rounded-md p-1 text-xs" placeholder="Price">
                                <input type="hidden" id="product_id"  name="product" value="{{ product.id }}">
                                <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white text-xs font-bold py-1 px-2 rounded transition duration-300 ease-in-out">
                                    ADD 
                                </button>
                            </form>
                            {% endif %}
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div class="container mx-auto px-4">
                <h2 class="font-medium leading-tight text-4xl mt-8 mb-6 text-blue-600">Cart</h2>
            
                {% if user_products %}
                <div class="space-y-4">
                    {% for product in user_products %}
                    <div class="flex justify-between items-center p-4 rounded-lg shadow-lg bg-white">
                        <div class="text-lg">
                            {{ product.quantity }} x <span class="font-semibold">{{ product.product.name }}</span>
                        </div>
                        <div class="flex items-center space-x-4">
                            <span class="text-gray-600">{{ product.total_price1 }}cost</span>
                            <span class="text-gray-600">{{ product.price1 }} price1</span>
                            <span class="text-gray-600">{{ product.total_price }}  TK</span>
                            <button class="bg-red-500 hover:bg-red-700 text-white font-bold px-2 py-1 rounded" onclick="window.location.href = '/{{product.product_id}}/deletegroup'">
                                X
                            </button>
                        </div>
                    </div>
                    {% endfor %}
            
                    <div class="mt-4 border-t-2 pt-4">
                        <div class="flex justify-between text-xl font-bold">
                            <p class="text-gray-800">COST TOTAL</p>
                            <p class="text-gray-800">${{ total }}</p>
                        </div>
                    </div>
                    <div class="mt-4 border-t-2 pt-4">
                        <div class="flex justify-between text-xl font-bold">
                            <p class="text-gray-800">MR TOTAL</p>
                            <p class="text-gray-800">${{ total1 }}</p>
                        </div>
                    </div>
                </div>
                {% else %}
                <p class="text-gray-600">Your cart is empty.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script src="{% static " js/jquery.waypoints.min.js" %}"></script>
<script src="/static/js/infinite.min.js"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],

        offset: 'bottom-in-view',

        onBeforePageLoad: function () {
            $('.loading').show();
        },
        onAfterPageLoad: function () {
            $('.loading').hide();
        }

    });



    document.addEventListener('DOMContentLoaded', function() {
    const forms = document.querySelectorAll('.product-form');

    forms.forEach(form => {
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData(form);
            const price = formData.get('price');
            const quantity = formData.get('quantity');
            const product = formData.get('product');

            const xhr = new XMLHttpRequest();
            xhr.open('GET', `/groupproductstore/?price=${price}&quantity=${quantity}&product=${product}`, true);
            xhr.setRequestHeader('Content-Type', 'application/json');

            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        // Request successful
                        console.log('Data sent successfully');
                    } else {
                        // Request failed
                        console.error('Failed to send data');
                    }
                }
            };

            xhr.send();
        });
    });
});
</script>
{% endblock %}